<div id="page_footer"
>​​
  ​​  <ul>​​
  ​​    <li><%= link_to "Contact", "" %></li>​​
  ​​    <li><%= link_to "Help", "" %></li>​​
  ​​    <li><%= link_to "File a Bug", "" %></li>​​
  ​​  </ul>​​
  ​​  &copy; 2013 IHM Team 1. All Rights Reserved. All Wrongs Reversed.​​
  ​​</div>​​